In [22]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display

In [5]:
#Clean data
e_data = pd.read_csv("https://www.dropbox.com/s/ey2y94hyfclgl98/clean_data.csv?dl=1")

In [6]:
print (e_data)

       Unnamed: 0  Latitude  Longitude   Depth  Magnitude  Month   Day  \
0               0   19.2460   145.6160  131.60        6.0      1   2.0
1              39   53.0080  -162.0080   17.80        6.4      2   6.0
2              44   53.1910  -161.8590   22.50        6.3      2   6.0
3              57   21.5270   143.0810  340.00        5.6      2  17.0
4              86   53.2920  -162.3310   20.00        5.7      3  13.0
...           ...       ...        ...     ...        ...    ...   ...
18720       23325    6.1142   -82.5906   10.00        5.6     11  12.0
18721       23359  -35.2021    54.0219   10.00        5.5     12   1.0
18722       23365   11.0316   -60.9005   31.75        5.9     12   6.0
18723       23397  -10.1785   160.9149   10.00        6.0     12  20.0
18724       23398  -10.1549   160.7816   10.38        5.5     12  20.0

         Year    Country Name  Density  Population
0      1965.0   United States       21   194303000
1      1965.0   United States       21   194303000
2      1965.0   United States       21   194303000
3      1965.0   United States       21   194303000
4      1965.0   United States       21   194303000
...       ...             ...      ...         ...
18720  2016.0          Panama       54     4037078
18721  2016.0      Madagascar       42    24894380
18722  2016.0  United Kingdom      271    65595565
18723  2016.0        Thailand      135    68971331
18724  2016.0        Thailand      135    68971331

[18725 rows x 11 columns]

In [60]:
cols = ['Latitude', 'Longitude']
#rows = ['Country Name']

x = e_data[cols]
#y = e_data[rows]
y = e_data['Country Name']
print (x.head())
print (y.head())

   Latitude  Longitude
0    19.246    145.616
1    53.008   -162.008
2    53.191   -161.859
3    21.527    143.081
4    53.292   -162.331
0    United States
1    United States
2    United States
3    United States
4    United States
Name: Country Name, dtype: object

In [64]:
import math
def euclideanDistance(instance1, instance2):
    distance = 0
    for x in range(len(instance1)):
        distance += pow((instance1[x] - instance2[x]), 2)
    return math.sqrt(distance)

In [65]:
import operator
def getNeighbors(trainingSet, instance, k):
    """Return the first k locations of the nearest neighbours to an instance"""
    distances = []
    for x in range(len(trainingSet)):
        dist = euclideanDistance(instance, trainingSet[x])
        distances.append(dist)
    locs = np.argsort(distances)
    return locs[:k]

In [68]:
testInstance = x.loc[y == 'Argentina']
display(testInstance)

       Latitude  Longitude
211    -28.4280   -68.2500
297    -24.8370   -64.4130
298     18.1130  -102.5570
299    -31.9730   -68.3010
300    -26.1230   -63.1520
...         ...        ...
18674   14.4790   -93.1509
18675   14.5178   -93.0882
18676  -24.1467   -67.1526
18677  -28.8598   -67.4611
18678  -31.6259   -68.6363

[237 rows x 2 columns]

In [69]:
neighbors = getNeighbors(x.values, testInstance.values[0], 10)
print(y[neighbors])

211      Argentina
16024    Argentina
1547     Argentina
2647     Argentina
1960     Argentina
14442        Italy
14427    Argentina
17899      Bolivia
18677    Argentina
216        Bolivia
Name: Country Name, dtype: object