In [3]:
import pandas as pd

In [4]:
#Clean data
e_data = pd.read_csv("https://www.dropbox.com/s/ey2y94hyfclgl98/clean_data.csv?dl=1")

In [6]:
print (e_data)

       Unnamed: 0  Latitude  Longitude   Depth  Magnitude  Month   Day  \
0               0   19.2460   145.6160  131.60        6.0      1   2.0
1              39   53.0080  -162.0080   17.80        6.4      2   6.0
2              44   53.1910  -161.8590   22.50        6.3      2   6.0
3              57   21.5270   143.0810  340.00        5.6      2  17.0
4              86   53.2920  -162.3310   20.00        5.7      3  13.0
...           ...       ...        ...     ...        ...    ...   ...
18720       23325    6.1142   -82.5906   10.00        5.6     11  12.0
18721       23359  -35.2021    54.0219   10.00        5.5     12   1.0
18722       23365   11.0316   -60.9005   31.75        5.9     12   6.0
18723       23397  -10.1785   160.9149   10.00        6.0     12  20.0
18724       23398  -10.1549   160.7816   10.38        5.5     12  20.0

         Year    Country Name  Density  Population
0      1965.0   United States       21   194303000
1      1965.0   United States       21   194303000
2      1965.0   United States       21   194303000
3      1965.0   United States       21   194303000
4      1965.0   United States       21   194303000
...       ...             ...      ...         ...
18720  2016.0          Panama       54     4037078
18721  2016.0      Madagascar       42    24894380
18722  2016.0  United Kingdom      271    65595565
18723  2016.0        Thailand      135    68971331
18724  2016.0        Thailand      135    68971331

[18725 rows x 11 columns]